/oneEngine/oneGame/x64
/oneEngine/x64
/oneEngine/OneEngine_VS2012_M04.VC.db
/oneEngine/*.suo
/oneEngine/oneGame/*.user
/oneEngine/oneGame/.game
/oneEngine/obj
/oneEngine/Debug
/oneEngine/Debug_Win32
/oneEngine/Debug_x64
/oneEngine/*.opendb
.svn
.vs
/oneEngine/oneGame/obj
*.bpd
/oneEngine/DebugClang_Win32
/oneEngine/DebugClang_x64
*.PAD
