/oneEngine/oneGame/x64
/oneEngine/x64
/oneEngine/OneEngine_VS2012_M04.VC.db
*.suo
/oneEngine/oneGame/*.user
/oneEngine/oneGame/.game
/oneEngine/oneGame/.tools/dev_tool_oneConverter*
/oneEngine/obj
/oneEngine/Debug
/oneEngine/Debug_Win32
/oneEngine/Debug_x64
*.opendb
.svn
.vs
/oneEngine/oneGame/obj
*.bpd
/oneEngine/DebugClang_Win32
/oneEngine/DebugClang_x64
*.PAD
*.db
*.spv
*.hlsl
*.dxc
*.aasm